.form {
  border: 2px solid var(--c-black);
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
}
.title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}
.blue {
  color: var(--c-blue);
}
.fullName {
  justify-content: space-between;
  display: flex;
  gap: 10px;
}
.firstName {
  flex: 1;
  width: 100%;
}
.lastName {
  flex: 1;
  width: 100%;
}
.genders {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.gender {
  display: inline-block;
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}
.location {
  justify-content: space-between;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.country {
  flex: 1;
  width: 100%;
}
.city {
  flex: 1;
  width: 100%;
}
.countrySelect {
  height: 40px;
  width: 100%;
}
.cityInput {
  width: 100%;
}
.terms {
  text-align: center;
  margin-top: 20px;
  letter-spacing: 0.2px;
  line-height: 1.5;
}
.divider {
  background-color: var(--c-black);
  margin: 20px 0;
  width: 500px;
  height: 1px;
}
.log {
  justify-content: center;
  gap: 20px;
  display: flex;
}
.inputName {
  margin-bottom: 5px;
}
.termsDevider {
  margin-left: 5px;
  margin-right: 5px;
}
