.header {
  height: 100%;
  width: 100%;
}

.headerWrapper {
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
  padding-top: 20px;
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
}

.logo {
  display: flex;
}

.navigationList {
  display: flex;
  gap: 20px;
}

.buttonBox {
  display: flex;
  gap: 30px;
}

.navigationItem--orange {
  color: var(--c-orange);
}

.sign-in-button {
  background-color: var(--c-white);
  border: 1px solid var(--c-grey);
  font-weight: var(--fw-big);
  color: var(--c-black);
  padding: 15px 25px;
  border-radius: 5px;
}
.sign-up-button {
  background-color: var(--c-orange);
  font-weight: var(--fw-big);
  color: var(--c-white);
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
}
