.header {
  height: 100%;
  width: 100%;
}
.wrapper {
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: center;
  padding-top: 20px;
  max-width: 1170px;
  display: flex;
}
.buttons {
  display: flex;
  gap: 30px;
}
